@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
ul {
  list-style-type: none;
}

body {
    background-color: #1c1c1c;
}

html {
  scroll-snap-type: y mandatory;
}
/*styling the separators */
hr {
  clear: left;
  width:60%;
  margin-top: 5.208vw;
  margin-bottom: 5.208vw;
}

h1{
    color: white;
    font-family: "Avenir";
    letter-spacing: 0.417vw;
    line-height: 1.8;
    
}

h1.title{
  text-align: center;    
}

h2{
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

h3{
  color: white;
  font-family: 'Avenir', sans-serif;
  line-height: 2.5;
  opacity: 0.8;
  font-size: 90%;
}

p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

img {
    width: 100%;
  }

/*** Mixins & Default Styles ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*** Header Styles ***/
header {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 5.729vw;
  background: #1c1c1c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
  box-shadow: 0 5px 10px 0 #1c1c1c;
}

#brand,
#menu,
ul {
  display: flex;
  align-items: center;
}

#brand {
  padding-left: 40px;
}

#logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

#word-mark {
  width: 26.042vw;
  height: 2.865vw;
  border-radius: 4.688vw;
  margin-left: 1.042vw;
  opacity: 1;
  transition: all 0.3s;
}

#word-mark a:nth-child(2) {
  display: none;
}

@media (max-width: 767px) {
  #word-mark a:nth-child(1) {
    display: none;
  }
  #word-mark a:nth-child(2) {
    display: block;
  }
}



/*** Menu Styles ***/
#menu {
  justify-content: flex-end;
  padding-right: 2.083vw;
}
  
li {
  margin-left: 20px;
}
li a {
  width: 7.813vw;
  height: 2.865vw;
  display: block;
  border-radius: 4.688vw;
}

#hero-section {
margin-top: 11vh;
background-image: url("https://res.cloudinary.com/dtxb76tmn/image/upload/c_pad,w_1000/v1715792677/header_hdudsa.png");
}


#faded-circle {
  background-image: url("https://res.cloudinary.com/dtxb76tmn/image/upload/v1715857926/background_x5pga3.png");
  background-color: #1c1c1c;
	
}

#bright-circle {
  background-image: url("https://res.cloudinary.com/dtxb76tmn/image/upload/c_pad,w_1000/v1715857930/background2_g8s4ef.png");

}

/*** Hero Section Styles ***/
.hero-section {
  scroll-snap-align: end;
  scroll-snap-stop: always;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-color: #1c1c1c;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 30%;
}

.project-text {
  text-align: center;
  transform: translate(-0%, -40%);;
}

.services-text {
  text-align: left;
  top: 50%;
  transform: translate(-100%, -20%);
  margin-left: 40%;
  color: white;
}

#head-line {
  width: 520px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  position: relative;
}

#head-line:before, #head-line:after {
  content: "";
  height: 30px;
  border-radius: 90px;
}
#head-line:before {
  width: 360px;
  background: #fff;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
}
#head-line:after {
  width: 200px;
  background: #fff;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translate(-50%, 0);
}

/*** Section Styles ***/
section {
  width: 100vw;
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
}

#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
}


.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}




/* expanded menu */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}


.closeIcon {
  display: none;
}

.menu-expand {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateX(0);
}

  /* footer design */

.footer{
    clear: left;
    background:#000;
    padding:30px 0px;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: var(--bright-color);
    font-family: "Avenir";
    letter-spacing: 8px;
    line-height: 1.8;

    font-size:1.5em;
    }
    


/* Responsive layout codes here  */
    @media only screen and (max-width: 600px) {
        .glowing-btn{
          font-size: 1em;
        }
        .footer{
            text-align:left;
            padding:5%;
            }
      }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.small, .column.big {
      width: 100%;
      
    }
}


.about-title{
  text-align: left;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-100%, -30%);
  margin-left: 20%;
  color: white;

}


.blur-box {
  background-color: #1c1c1c;
  box-shadow: 0 0 500px 50px #1c1c1c;
}


#scroll_down {
  width: 30px;
  background-image: url(img/scroll_down.png);
  background-repeat: no-repeat;

  background-size: 30px 15px;
  position: fixed;
  bottom: 30px;
  left: 45px;
  z-index: 300;
  font-size: 15px;
  line-height: 11px;
  font-weight: 400;
  letter-spacing: 0.19em;
  padding-bottom: 43px;
  padding-left: 33px;
  white-space: nowrap;
  transform: rotate(-90deg);
}



/* //////// CHANGING ELEMENT ////// */


.textchange {
  position: fixed;
  z-index:  99;
  top: 30px;
  left: 50%; 
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: rubik;
  font-weight: 700;
  font-size: 30px;
  color:  #fff;

}


.btn-container {
	width: 30px;
	height: 30px;
	background: transparent;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
	text-align:center;
	margin-left: 0px;
	margin-right: 0px;
  position: relative;
}

/* Button image*/ 
.icon{
	opacity: 0;
}

.icon:hover{
	opacity: 1;
	transition: opacity .3s ease-in-out;
}

/* Button Styling */ 

.active-btn {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #111;
    background: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
	padding: 0;
	margin: 0;
}

/* ///// MARKER POSITIONS ////// */ 


.marker1{
  top: 50%;
  left: 75%;
}
.marker2{
  top: 50%;
  left: 85%;
}


#myLinks {
  display: none;
  background-color: #535353;
  width: 50%;
  height:100%;
}


.grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.1); 
  }


  /* all works page*/
  *{
      margin:0;
      box-sizing: border-box;
  }
  .gallery_container{
      max-width: 1170px;
      margin:auto;
      padding-top: 10%;
      padding-right: 5%;
  }
  .gallery_row{
      display: flex;
      flex-wrap: wrap;
  }
  .gallery img{
      max-width: 100%;
      height: 30%;
      vertical-align: middle;
  }

  .gallery{
      width: 60%;
      display: block;
      float:right;
      min-height: 100vh;
      padding: 100px 0;
  }
.gallery-filter{
      padding: 0 10px;
      width: 100%;
      text-align: left;
      margin-bottom: 40px;
  }
  .gallery .gallery-filter .filter-item{
      color: #ffffff;
      opacity: .4;
      font-size: 20%;
      text-transform: uppercase;
    border-radius: 20px;
    margin-right: 8px;
      cursor: pointer;
    padding: 8px 10px 8px 10px;
      line-height: 3;
      transition: all 0.3s ease;
      font-family: "Avenir";
  }
  .gallery .gallery-filter .filter-item.active{
      color: white;
      opacity: 1;
  }
  .gallery .gallery-item{
      width: calc(100% / 2);
      padding: 15px;
  
  }
  .gallery .gallery-item-inner img{
      width: 100%;

  }
  .gallery .gallery-item.show{
      animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn{
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  .gallery .gallery-item.hide{
      display: none;
  }
  
  /*responsive*/
  @media(max-width: 491px){
      .gallery .gallery-item{
          width: 50%;
      }
  }
  @media(max-width: 467px){
      .gallery .gallery-item{
          width: 100%;
      }
      .gallery .gallery-filter .filter-item{
          margin-bottom: 10px;
      }
  }
  
  
  .fixed-left {
    position: fixed;
    top: 30%; /* set it equal as the height of fixed-top */
    bottom: 0; /* so that it will stick to bottom*/
    left: 10%;
    z-index: 0;
    overflow-y: auto; /* it will have the scroll if it has more content*/
    width: 20%; /* set as per your requirement*/
  }

  .even-columns {
    display: flex;
    gap: 1em;
  }
  
  .even-columns > * {
    flex: 1;
  }
  
  .col-title{
    padding-left:10%;

  
  }
  .col-img{
    padding-left:5%;
    padding-right:10%;
  
  }



 /* Create two unequal columns */


.columns {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 100px;
  text-align: left;
  
}
.column {
  float: left;
  margin-bottom: 100px;
}
/* smaller column */
.column.small {
  padding-right: 30px;
  margin-right: 30px;
  margin-left: 30px;
  width: 35%;
  
}
/* bigger column */
.column.big {
  margin-right: 30px;
  margin-left: 30px;
  width: 50%;
  
}

.img_small{
  height: 400px;
  width: 300px;
  float: right;
}



.works_text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-family: "Avenir";
    padding-top: 3%;
}


/* responsive image grid*/

.photo_gallery {
  box-sizing: border-box;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.photo_row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 10px;
}

/* Create three equal columns that sits next to each other */
.photo_column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 10px;
}

.photo_column img {
  margin-top: 25px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo_column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo_column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



/*loading animation*/
#loader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -245px;
  animation: pulse 2s ease-in infinite;
}

.spinner {
  color: white;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes pulse{
  0%, 100%{
    opacity: 1;
  }
  60%{
    opacity: .4;
  }
}

.circleAnimation {
  stroke-opacity: .3;
}

/* Add animation to "page content" */
.content {
  -webkit-animation-name: content;
  -webkit-animation-duration: 1s;
  animation-name: content;
  animation-duration: 1s;
}

@-webkit-keyframes content {
  from { bottom:-400px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes content { 
  from{ bottom:-400px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}




/*from blue to black text*/

.test {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}
.testText{
  font-size: 5rem; 
  font-family:'Amatic SC';
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small {
  font-size: 0.5em;
}
.smaller {
  font-size: 0.4em;
}

@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}





/* fireflies */

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 2vw;
  height: 2vw;
  margin: -1vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw white;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 302s;
}
.firefly:nth-child(1)::after {
  animation-duration: 302s, 8204ms;
  animation-delay: 0ms, 986ms;
}

@keyframes move1 {
  0% {
    transform: translateX(-33vw) translateY(-15vh) scale(0.75);
  }
  8.3333333333% {
    transform: translateX(33vw) translateY(-23vh) scale(0.93);
  }
  16.6666666667% {
    transform: translateX(40vw) translateY(-43vh) scale(0.34);
  }
  25% {
    transform: translateX(-39vw) translateY(44vh) scale(0.52);
  }
  33.3333333333% {
    transform: translateX(-17vw) translateY(49vh) scale(0.26);
  }
  41.6666666667% {
    transform: translateX(-3vw) translateY(11vh) scale(0.6);
  }
  50% {
    transform: translateX(-25vw) translateY(11vh) scale(0.52);
  }
  58.3333333333% {
    transform: translateX(-35vw) translateY(-48vh) scale(0.61);
  }
  66.6666666667% {
    transform: translateX(26vw) translateY(27vh) scale(0.89);
  }
  75% {
    transform: translateX(-37vw) translateY(-9vh) scale(0.42);
  }
  83.3333333333% {
    transform: translateX(13vw) translateY(-31vh) scale(0.9);
  }
  91.6666666667% {
    transform: translateX(-42vw) translateY(-19vh) scale(0.82);
  }
  100% {
    transform: translateX(7vw) translateY(-43vh) scale(0.5);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 302s;
}
.firefly:nth-child(2)::after {
  animation-duration: 302s, 6824ms;
  animation-delay: 0ms, 2043ms;
}

@keyframes move2 {
  0% {
    transform: translateX(-36vw) translateY(-13vh) scale(0.86);
  }
  11.1111111111% {
    transform: translateX(-17vw) translateY(28vh) scale(0.45);
  }
  22.2222222222% {
    transform: translateX(-28vw) translateY(7vh) scale(0.9);
  }
  33.3333333333% {
    transform: translateX(-43vw) translateY(-40vh) scale(0.48);
  }
  44.4444444444% {
    transform: translateX(28vw) translateY(15vh) scale(0.29);
  }
  55.5555555556% {
    transform: translateX(-46vw) translateY(-1vh) scale(0.97);
  }
  66.6666666667% {
    transform: translateX(23vw) translateY(12vh) scale(0.77);
  }
  77.7777777778% {
    transform: translateX(49vw) translateY(48vh) scale(0.33);
  }
  88.8888888889% {
    transform: translateX(22vw) translateY(34vh) scale(0.75);
  }
  100% {
    transform: translateX(18vw) translateY(19vh) scale(0.62);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 302s;
}
.firefly:nth-child(3)::after {
  animation-duration: 302s, 8778ms;
  animation-delay: 0ms, 6719ms;
}

@keyframes move3 {
  0% {
    transform: translateX(-22vw) translateY(-34vh) scale(0.75);
  }
  7.6923076923% {
    transform: translateX(-43vw) translateY(19vh) scale(0.73);
  }
  15.3846153846% {
    transform: translateX(49vw) translateY(4vh) scale(0.6);
  }
  23.0769230769% {
    transform: translateX(44vw) translateY(42vh) scale(0.71);
  }
  30.7692307692% {
    transform: translateX(2vw) translateY(4vh) scale(0.55);
  }
  38.4615384615% {
    transform: translateX(48vw) translateY(34vh) scale(0.63);
  }
  46.1538461538% {
    transform: translateX(7vw) translateY(1vh) scale(0.93);
  }
  53.8461538462% {
    transform: translateX(-24vw) translateY(-40vh) scale(0.28);
  }
  61.5384615385% {
    transform: translateX(17vw) translateY(-17vh) scale(0.34);
  }
  69.2307692308% {
    transform: translateX(35vw) translateY(21vh) scale(0.58);
  }
  76.9230769231% {
    transform: translateX(-31vw) translateY(24vh) scale(0.6);
  }
  84.6153846154% {
    transform: translateX(-39vw) translateY(-15vh) scale(0.83);
  }
  92.3076923077% {
    transform: translateX(-22vw) translateY(-31vh) scale(0.98);
  }
  100% {
    transform: translateX(8vw) translateY(12vh) scale(0.91);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 302s;
}
.firefly:nth-child(4)::after {
  animation-duration: 302s, 7573ms;
  animation-delay: 0ms, 2031ms;
}

@keyframes move4 {
  0% {
    transform: translateX(-1vw) translateY(-3vh) scale(0.35);
  }
  6.6666666667% {
    transform: translateX(44vw) translateY(37vh) scale(0.71);
  }
  13.3333333333% {
    transform: translateX(18vw) translateY(34vh) scale(0.74);
  }
  20% {
    transform: translateX(-13vw) translateY(-11vh) scale(0.97);
  }
  26.6666666667% {
    transform: translateX(-45vw) translateY(-44vh) scale(0.5);
  }
  33.3333333333% {
    transform: translateX(43vw) translateY(-45vh) scale(0.81);
  }
  40% {
    transform: translateX(-47vw) translateY(-23vh) scale(0.45);
  }
  46.6666666667% {
    transform: translateX(-18vw) translateY(-7vh) scale(0.9);
  }
  53.3333333333% {
    transform: translateX(12vw) translateY(14vh) scale(0.29);
  }
  60% {
    transform: translateX(-29vw) translateY(6vh) scale(0.68);
  }
  66.6666666667% {
    transform: translateX(-44vw) translateY(-47vh) scale(0.64);
  }
  73.3333333333% {
    transform: translateX(-15vw) translateY(-48vh) scale(0.99);
  }
  80% {
    transform: translateX(-23vw) translateY(-2vh) scale(0.88);
  }
  86.6666666667% {
    transform: translateX(-28vw) translateY(5vh) scale(0.79);
  }
  93.3333333333% {
    transform: translateX(-20vw) translateY(21vh) scale(0.96);
  }
  100% {
    transform: translateX(-41vw) translateY(-28vh) scale(0.96);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 307s;
}
.firefly:nth-child(5)::after {
  animation-duration: 307s, 9895ms;
  animation-delay: 0ms, 7662ms;
}

@keyframes move5 {
  0% {
    transform: translateX(27vw) translateY(17vh) scale(0.4);
  }
  8.3333333333% {
    transform: translateX(33vw) translateY(36vh) scale(0.94);
  }
  16.6666666667% {
    transform: translateX(11vw) translateY(-17vh) scale(0.79);
  }
  25% {
    transform: translateX(-20vw) translateY(26vh) scale(0.97);
  }
  33.3333333333% {
    transform: translateX(-8vw) translateY(-36vh) scale(0.64);
  }
  41.6666666667% {
    transform: translateX(-25vw) translateY(45vh) scale(0.39);
  }
  50% {
    transform: translateX(-40vw) translateY(-39vh) scale(0.59);
  }
  58.3333333333% {
    transform: translateX(11vw) translateY(-48vh) scale(0.76);
  }
  66.6666666667% {
    transform: translateX(-35vw) translateY(25vh) scale(0.92);
  }
  75% {
    transform: translateX(-10vw) translateY(-14vh) scale(0.35);
  }
  83.3333333333% {
    transform: translateX(-46vw) translateY(35vh) scale(0.38);
  }
  91.6666666667% {
    transform: translateX(46vw) translateY(-28vh) scale(0.62);
  }
  100% {
    transform: translateX(6vw) translateY(-12vh) scale(0.38);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 308s;
}
.firefly:nth-child(6)::after {
  animation-duration: 308s, 9682ms;
  animation-delay: 0ms, 774ms;
}

@keyframes move6 {
  0% {
    transform: translateX(45vw) translateY(-40vh) scale(0.85);
  }
  7.6923076923% {
    transform: translateX(50vw) translateY(8vh) scale(0.85);
  }
  15.3846153846% {
    transform: translateX(48vw) translateY(47vh) scale(0.63);
  }
  23.0769230769% {
    transform: translateX(-45vw) translateY(32vh) scale(0.81);
  }
  30.7692307692% {
    transform: translateX(26vw) translateY(10vh) scale(0.77);
  }
  38.4615384615% {
    transform: translateX(39vw) translateY(-40vh) scale(0.3);
  }
  46.1538461538% {
    transform: translateX(1vw) translateY(5vh) scale(0.59);
  }
  53.8461538462% {
    transform: translateX(12vw) translateY(47vh) scale(0.93);
  }
  61.5384615385% {
    transform: translateX(-27vw) translateY(-40vh) scale(0.97);
  }
  69.2307692308% {
    transform: translateX(-13vw) translateY(48vh) scale(0.6);
  }
  76.9230769231% {
    transform: translateX(-16vw) translateY(-15vh) scale(0.59);
  }
  84.6153846154% {
    transform: translateX(-26vw) translateY(44vh) scale(0.61);
  }
  92.3076923077% {
    transform: translateX(8vw) translateY(-2vh) scale(0.99);
  }
  100% {
    transform: translateX(47vw) translateY(23vh) scale(0.9);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 309s;
}
.firefly:nth-child(7)::after {
  animation-duration: 309s, 9738ms;
  animation-delay: 0ms, 1536ms;
}

@keyframes move7 {
  0% {
    transform: translateX(31vw) translateY(-46vh) scale(1);
  }
  16.6666666667% {
    transform: translateX(25vw) translateY(9vh) scale(0.72);
  }
  33.3333333333% {
    transform: translateX(49vw) translateY(-8vh) scale(0.39);
  }
  50% {
    transform: translateX(48vw) translateY(-35vh) scale(0.29);
  }
  66.6666666667% {
    transform: translateX(23vw) translateY(21vh) scale(0.62);
  }
  83.3333333333% {
    transform: translateX(23vw) translateY(39vh) scale(0.86);
  }
  100% {
    transform: translateX(-19vw) translateY(-28vh) scale(0.78);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 308s;
}
.firefly:nth-child(8)::after {
  animation-duration: 308s, 7438ms;
  animation-delay: 0ms, 2977ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-35vw) translateY(-10vh) scale(0.84);
  }
  6.25% {
    transform: translateX(26vw) translateY(-42vh) scale(0.54);
  }
  12.5% {
    transform: translateX(-5vw) translateY(44vh) scale(0.79);
  }
  18.75% {
    transform: translateX(-38vw) translateY(22vh) scale(0.48);
  }
  25% {
    transform: translateX(-42vw) translateY(16vh) scale(0.38);
  }
  31.25% {
    transform: translateX(-32vw) translateY(48vh) scale(0.72);
  }
  37.5% {
    transform: translateX(-37vw) translateY(48vh) scale(0.43);
  }
  43.75% {
    transform: translateX(17vw) translateY(37vh) scale(0.8);
  }
  50% {
    transform: translateX(50vw) translateY(1vh) scale(0.41);
  }
  56.25% {
    transform: translateX(1vw) translateY(-32vh) scale(0.39);
  }
  62.5% {
    transform: translateX(-45vw) translateY(-22vh) scale(0.45);
  }
  68.75% {
    transform: translateX(25vw) translateY(31vh) scale(0.78);
  }
  75% {
    transform: translateX(-13vw) translateY(-39vh) scale(0.51);
  }
  81.25% {
    transform: translateX(-45vw) translateY(13vh) scale(0.26);
  }
  87.5% {
    transform: translateX(-11vw) translateY(38vh) scale(0.38);
  }
  93.75% {
    transform: translateX(36vw) translateY(36vh) scale(0.4);
  }
  100% {
    transform: translateX(-45vw) translateY(-32vh) scale(0.61);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 306s;
}
.firefly:nth-child(9)::after {
  animation-duration: 306s, 6603ms;
  animation-delay: 0ms, 6607ms;
}

@keyframes move9 {
  0% {
    transform: translateX(7vw) translateY(15vh) scale(0.31);
  }
  10% {
    transform: translateX(8vw) translateY(-9vh) scale(0.97);
  }
  20% {
    transform: translateX(-35vw) translateY(-15vh) scale(0.83);
  }
  30% {
    transform: translateX(-37vw) translateY(-30vh) scale(0.44);
  }
  40% {
    transform: translateX(18vw) translateY(39vh) scale(0.87);
  }
  50% {
    transform: translateX(-31vw) translateY(43vh) scale(0.81);
  }
  60% {
    transform: translateX(23vw) translateY(-45vh) scale(0.29);
  }
  70% {
    transform: translateX(-33vw) translateY(37vh) scale(0.5);
  }
  80% {
    transform: translateX(22vw) translateY(46vh) scale(0.52);
  }
  90% {
    transform: translateX(-19vw) translateY(-19vh) scale(0.95);
  }
  100% {
    transform: translateX(2vw) translateY(-44vh) scale(0.79);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 305s;
}
.firefly:nth-child(10)::after {
  animation-duration: 305s, 8739ms;
  animation-delay: 0ms, 2690ms;
}

@keyframes move10 {
  0% {
    transform: translateX(35vw) translateY(-23vh) scale(0.87);
  }
  6.6666666667% {
    transform: translateX(38vw) translateY(38vh) scale(0.49);
  }
  13.3333333333% {
    transform: translateX(49vw) translateY(17vh) scale(0.33);
  }
  20% {
    transform: translateX(-12vw) translateY(29vh) scale(0.35);
  }
  26.6666666667% {
    transform: translateX(-20vw) translateY(-27vh) scale(0.69);
  }
  33.3333333333% {
    transform: translateX(-48vw) translateY(31vh) scale(0.35);
  }
  40% {
    transform: translateX(-36vw) translateY(-27vh) scale(0.34);
  }
  46.6666666667% {
    transform: translateX(14vw) translateY(8vh) scale(0.75);
  }
  53.3333333333% {
    transform: translateX(27vw) translateY(-27vh) scale(0.97);
  }
  60% {
    transform: translateX(-45vw) translateY(42vh) scale(0.42);
  }
  66.6666666667% {
    transform: translateX(-22vw) translateY(28vh) scale(0.84);
  }
  73.3333333333% {
    transform: translateX(-35vw) translateY(-19vh) scale(0.97);
  }
  80% {
    transform: translateX(-12vw) translateY(34vh) scale(0.45);
  }
  86.6666666667% {
    transform: translateX(-7vw) translateY(-29vh) scale(0.91);
  }
  93.3333333333% {
    transform: translateX(17vw) translateY(-44vh) scale(0.89);
  }
  100% {
    transform: translateX(40vw) translateY(43vh) scale(0.28);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 305s;
}
.firefly:nth-child(11)::after {
  animation-duration: 305s, 5997ms;
  animation-delay: 0ms, 7515ms;
}

@keyframes move11 {
  0% {
    transform: translateX(37vw) translateY(31vh) scale(0.7);
  }
  16.6666666667% {
    transform: translateX(-1vw) translateY(36vh) scale(0.84);
  }
  33.3333333333% {
    transform: translateX(38vw) translateY(6vh) scale(0.45);
  }
  50% {
    transform: translateX(27vw) translateY(-38vh) scale(0.64);
  }
  66.6666666667% {
    transform: translateX(-37vw) translateY(-9vh) scale(0.93);
  }
  83.3333333333% {
    transform: translateX(1vw) translateY(-18vh) scale(0.46);
  }
  100% {
    transform: translateX(38vw) translateY(13vh) scale(0.76);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 305s;
}
.firefly:nth-child(12)::after {
  animation-duration: 305s, 7606ms;
  animation-delay: 0ms, 1839ms;
}

@keyframes move12 {
  0% {
    transform: translateX(3vw) translateY(38vh) scale(0.3);
  }
  12.5% {
    transform: translateX(44vw) translateY(-41vh) scale(0.67);
  }
  25% {
    transform: translateX(7vw) translateY(36vh) scale(0.79);
  }
  37.5% {
    transform: translateX(43vw) translateY(-45vh) scale(0.58);
  }
  50% {
    transform: translateX(36vw) translateY(-14vh) scale(0.66);
  }
  62.5% {
    transform: translateX(-45vw) translateY(-19vh) scale(0.91);
  }
  75% {
    transform: translateX(-3vw) translateY(32vh) scale(0.82);
  }
  87.5% {
    transform: translateX(-48vw) translateY(42vh) scale(0.44);
  }
  100% {
    transform: translateX(-25vw) translateY(-35vh) scale(0.83);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 310s;
}
.firefly:nth-child(13)::after {
  animation-duration: 310s, 7117ms;
  animation-delay: 0ms, 2268ms;
}

@keyframes move13 {
  0% {
    transform: translateX(41vw) translateY(-47vh) scale(0.54);
  }
  6.25% {
    transform: translateX(-24vw) translateY(42vh) scale(0.59);
  }
  12.5% {
    transform: translateX(22vw) translateY(-47vh) scale(0.65);
  }
  18.75% {
    transform: translateX(35vw) translateY(8vh) scale(0.54);
  }
  25% {
    transform: translateX(-44vw) translateY(-47vh) scale(0.89);
  }
  31.25% {
    transform: translateX(19vw) translateY(16vh) scale(0.42);
  }
  37.5% {
    transform: translateX(-5vw) translateY(17vh) scale(0.77);
  }
  43.75% {
    transform: translateX(-13vw) translateY(37vh) scale(0.62);
  }
  50% {
    transform: translateX(18vw) translateY(28vh) scale(0.68);
  }
  56.25% {
    transform: translateX(-17vw) translateY(24vh) scale(0.62);
  }
  62.5% {
    transform: translateX(-21vw) translateY(7vh) scale(0.94);
  }
  68.75% {
    transform: translateX(-36vw) translateY(-12vh) scale(0.8);
  }
  75% {
    transform: translateX(-13vw) translateY(-16vh) scale(0.8);
  }
  81.25% {
    transform: translateX(39vw) translateY(-43vh) scale(0.95);
  }
  87.5% {
    transform: translateX(2vw) translateY(42vh) scale(0.65);
  }
  93.75% {
    transform: translateX(-48vw) translateY(19vh) scale(0.65);
  }
  100% {
    transform: translateX(16vw) translateY(-20vh) scale(0.88);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 302s;
}
.firefly:nth-child(14)::after {
  animation-duration: 302s, 10177ms;
  animation-delay: 0ms, 1975ms;
}

@keyframes move14 {
  0% {
    transform: translateX(4vw) translateY(-15vh) scale(0.58);
  }
  11.1111111111% {
    transform: translateX(47vw) translateY(-26vh) scale(0.99);
  }
  22.2222222222% {
    transform: translateX(-11vw) translateY(-35vh) scale(0.82);
  }
  33.3333333333% {
    transform: translateX(-23vw) translateY(17vh) scale(0.49);
  }
  44.4444444444% {
    transform: translateX(12vw) translateY(19vh) scale(0.43);
  }
  55.5555555556% {
    transform: translateX(-31vw) translateY(-16vh) scale(0.42);
  }
  66.6666666667% {
    transform: translateX(-26vw) translateY(48vh) scale(1);
  }
  77.7777777778% {
    transform: translateX(-4vw) translateY(40vh) scale(0.74);
  }
  88.8888888889% {
    transform: translateX(-18vw) translateY(32vh) scale(0.34);
  }
  100% {
    transform: translateX(-28vw) translateY(-35vh) scale(0.32);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 303s;
}
.firefly:nth-child(15)::after {
  animation-duration: 303s, 7891ms;
  animation-delay: 0ms, 7867ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-11vw) translateY(2vh) scale(0.84);
  }
  7.6923076923% {
    transform: translateX(-14vw) translateY(40vh) scale(0.27);
  }
  15.3846153846% {
    transform: translateX(24vw) translateY(-38vh) scale(0.7);
  }
  23.0769230769% {
    transform: translateX(50vw) translateY(13vh) scale(0.89);
  }
  30.7692307692% {
    transform: translateX(-43vw) translateY(20vh) scale(0.53);
  }
  38.4615384615% {
    transform: translateX(-39vw) translateY(-35vh) scale(0.64);
  }
  46.1538461538% {
    transform: translateX(-31vw) translateY(37vh) scale(0.77);
  }
  53.8461538462% {
    transform: translateX(8vw) translateY(-21vh) scale(0.4);
  }
  61.5384615385% {
    transform: translateX(-34vw) translateY(-24vh) scale(0.55);
  }
  69.2307692308% {
    transform: translateX(2vw) translateY(32vh) scale(0.45);
  }
  76.9230769231% {
    transform: translateX(-39vw) translateY(-30vh) scale(0.65);
  }
  84.6153846154% {
    transform: translateX(-32vw) translateY(14vh) scale(0.63);
  }
  92.3076923077% {
    transform: translateX(-6vw) translateY(-15vh) scale(0.26);
  }
  100% {
    transform: translateX(-34vw) translateY(-34vh) scale(0.33);
  }
}
.firefly:nth-child(16) {
  animation-name: move16;
}
.firefly:nth-child(16)::before {
  animation-duration: 306s;
}
.firefly:nth-child(16)::after {
  animation-duration: 306s, 8938ms;
  animation-delay: 0ms, 3521ms;
}

@keyframes move16 {
  0% {
    transform: translateX(-15vw) translateY(-18vh) scale(0.59);
  }
  8.3333333333% {
    transform: translateX(10vw) translateY(-15vh) scale(0.61);
  }
  16.6666666667% {
    transform: translateX(47vw) translateY(-11vh) scale(0.28);
  }
  25% {
    transform: translateX(38vw) translateY(-31vh) scale(0.59);
  }
  33.3333333333% {
    transform: translateX(-28vw) translateY(-25vh) scale(0.71);
  }
  41.6666666667% {
    transform: translateX(18vw) translateY(5vh) scale(0.49);
  }
  50% {
    transform: translateX(-31vw) translateY(1vh) scale(0.98);
  }
  58.3333333333% {
    transform: translateX(-1vw) translateY(-46vh) scale(0.44);
  }
  66.6666666667% {
    transform: translateX(-12vw) translateY(-26vh) scale(0.9);
  }
  75% {
    transform: translateX(-37vw) translateY(50vh) scale(0.59);
  }
  83.3333333333% {
    transform: translateX(-1vw) translateY(-6vh) scale(0.82);
  }
  91.6666666667% {
    transform: translateX(43vw) translateY(15vh) scale(0.85);
  }
  100% {
    transform: translateX(-45vw) translateY(18vh) scale(0.58);
  }
}
.firefly:nth-child(17) {
  animation-name: move17;
}
.firefly:nth-child(17)::before {
  animation-duration: 303s;
}
.firefly:nth-child(17)::after {
  animation-duration: 303s, 9450ms;
  animation-delay: 0ms, 2807ms;
}

@keyframes move17 {
  0% {
    transform: translateX(-35vw) translateY(41vh) scale(0.45);
  }
  7.1428571429% {
    transform: translateX(-22vw) translateY(-37vh) scale(0.3);
  }
  14.2857142857% {
    transform: translateX(10vw) translateY(0vh) scale(0.63);
  }
  21.4285714286% {
    transform: translateX(24vw) translateY(-10vh) scale(0.77);
  }
  28.5714285714% {
    transform: translateX(-48vw) translateY(-29vh) scale(0.96);
  }
  35.7142857143% {
    transform: translateX(-17vw) translateY(49vh) scale(0.7);
  }
  42.8571428571% {
    transform: translateX(23vw) translateY(14vh) scale(0.26);
  }
  50% {
    transform: translateX(-35vw) translateY(39vh) scale(0.98);
  }
  57.1428571429% {
    transform: translateX(0vw) translateY(31vh) scale(0.6);
  }
  64.2857142857% {
    transform: translateX(2vw) translateY(-5vh) scale(0.53);
  }
  71.4285714286% {
    transform: translateX(3vw) translateY(4vh) scale(0.7);
  }
  78.5714285714% {
    transform: translateX(-13vw) translateY(-45vh) scale(0.35);
  }
  85.7142857143% {
    transform: translateX(-43vw) translateY(39vh) scale(0.83);
  }
  92.8571428571% {
    transform: translateX(7vw) translateY(-43vh) scale(0.73);
  }
  100% {
    transform: translateX(34vw) translateY(12vh) scale(0.66);
  }
}
.firefly:nth-child(18) {
  animation-name: move18;
}
.firefly:nth-child(18)::before {
  animation-duration: 302s;
}
.firefly:nth-child(18)::after {
  animation-duration: 302s, 8460ms;
  animation-delay: 0ms, 1243ms;
}

@keyframes move18 {
  0% {
    transform: translateX(30vw) translateY(9vh) scale(0.26);
  }
  6.25% {
    transform: translateX(-15vw) translateY(20vh) scale(0.79);
  }
  12.5% {
    transform: translateX(35vw) translateY(44vh) scale(0.83);
  }
  18.75% {
    transform: translateX(49vw) translateY(-37vh) scale(0.62);
  }
  25% {
    transform: translateX(44vw) translateY(11vh) scale(0.66);
  }
  31.25% {
    transform: translateX(24vw) translateY(-47vh) scale(0.72);
  }
  37.5% {
    transform: translateX(-14vw) translateY(-45vh) scale(0.95);
  }
  43.75% {
    transform: translateX(15vw) translateY(31vh) scale(0.82);
  }
  50% {
    transform: translateX(15vw) translateY(-35vh) scale(0.57);
  }
  56.25% {
    transform: translateX(40vw) translateY(48vh) scale(1);
  }
  62.5% {
    transform: translateX(-41vw) translateY(-11vh) scale(0.77);
  }
  68.75% {
    transform: translateX(5vw) translateY(0vh) scale(0.89);
  }
  75% {
    transform: translateX(32vw) translateY(17vh) scale(0.35);
  }
  81.25% {
    transform: translateX(-22vw) translateY(-19vh) scale(0.65);
  }
  87.5% {
    transform: translateX(-11vw) translateY(49vh) scale(0.83);
  }
  93.75% {
    transform: translateX(24vw) translateY(37vh) scale(0.43);
  }
  100% {
    transform: translateX(0vw) translateY(-28vh) scale(0.32);
  }
}
.firefly:nth-child(19) {
  animation-name: move19;
}
.firefly:nth-child(19)::before {
  animation-duration: 307s;
}
.firefly:nth-child(19)::after {
  animation-duration: 307s, 7450ms;
  animation-delay: 0ms, 7982ms;
}

@keyframes move19 {
  0% {
    transform: translateX(1vw) translateY(-46vh) scale(0.45);
  }
  14.2857142857% {
    transform: translateX(-18vw) translateY(-30vh) scale(0.45);
  }
  28.5714285714% {
    transform: translateX(-14vw) translateY(43vh) scale(0.87);
  }
  42.8571428571% {
    transform: translateX(2vw) translateY(26vh) scale(0.27);
  }
  57.1428571429% {
    transform: translateX(-39vw) translateY(10vh) scale(0.97);
  }
  71.4285714286% {
    transform: translateX(-1vw) translateY(-36vh) scale(0.42);
  }
  85.7142857143% {
    transform: translateX(9vw) translateY(22vh) scale(0.99);
  }
  100% {
    transform: translateX(42vw) translateY(25vh) scale(0.9);
  }
}
.firefly:nth-child(20) {
  animation-name: move20;
}
.firefly:nth-child(20)::before {
  animation-duration: 304s;
}
.firefly:nth-child(20)::after {
  animation-duration: 304s, 9787ms;
  animation-delay: 0ms, 2843ms;
}

@keyframes move20 {
  0% {
    transform: translateX(46vw) translateY(-34vh) scale(0.28);
  }
  11.1111111111% {
    transform: translateX(50vw) translateY(-44vh) scale(0.58);
  }
  22.2222222222% {
    transform: translateX(45vw) translateY(-40vh) scale(0.41);
  }
  33.3333333333% {
    transform: translateX(25vw) translateY(44vh) scale(0.3);
  }
  44.4444444444% {
    transform: translateX(-44vw) translateY(-3vh) scale(0.97);
  }
  55.5555555556% {
    transform: translateX(-10vw) translateY(13vh) scale(0.52);
  }
  66.6666666667% {
    transform: translateX(-41vw) translateY(48vh) scale(0.42);
  }
  77.7777777778% {
    transform: translateX(-2vw) translateY(-28vh) scale(0.91);
  }
  88.8888888889% {
    transform: translateX(-49vw) translateY(-49vh) scale(0.62);
  }
  100% {
    transform: translateX(-37vw) translateY(-5vh) scale(0.85);
  }
}
.firefly:nth-child(21) {
  animation-name: move21;
}
.firefly:nth-child(21)::before {
  animation-duration: 306s;
}
.firefly:nth-child(21)::after {
  animation-duration: 306s, 9159ms;
  animation-delay: 0ms, 4559ms;
}

@keyframes move21 {
  0% {
    transform: translateX(-18vw) translateY(14vh) scale(0.86);
  }
  10% {
    transform: translateX(43vw) translateY(25vh) scale(0.57);
  }
  20% {
    transform: translateX(36vw) translateY(31vh) scale(0.36);
  }
  30% {
    transform: translateX(33vw) translateY(44vh) scale(0.49);
  }
  40% {
    transform: translateX(-22vw) translateY(32vh) scale(0.79);
  }
  50% {
    transform: translateX(-32vw) translateY(-18vh) scale(0.26);
  }
  60% {
    transform: translateX(13vw) translateY(14vh) scale(0.61);
  }
  70% {
    transform: translateX(12vw) translateY(-32vh) scale(0.53);
  }
  80% {
    transform: translateX(-12vw) translateY(-49vh) scale(0.89);
  }
  90% {
    transform: translateX(38vw) translateY(-37vh) scale(0.4);
  }
  100% {
    transform: translateX(25vw) translateY(-33vh) scale(0.46);
  }
}
.firefly:nth-child(22) {
  animation-name: move22;
}
.firefly:nth-child(22)::before {
  animation-duration: 310s;
}
.firefly:nth-child(22)::after {
  animation-duration: 310s, 9176ms;
  animation-delay: 0ms, 6602ms;
}

@keyframes move22 {
  0% {
    transform: translateX(-16vw) translateY(-29vh) scale(0.87);
  }
  11.1111111111% {
    transform: translateX(-24vw) translateY(-7vh) scale(0.92);
  }
  22.2222222222% {
    transform: translateX(4vw) translateY(-35vh) scale(0.99);
  }
  33.3333333333% {
    transform: translateX(37vw) translateY(-14vh) scale(0.99);
  }
  44.4444444444% {
    transform: translateX(17vw) translateY(40vh) scale(0.75);
  }
  55.5555555556% {
    transform: translateX(-16vw) translateY(11vh) scale(0.49);
  }
  66.6666666667% {
    transform: translateX(-34vw) translateY(46vh) scale(0.27);
  }
  77.7777777778% {
    transform: translateX(-31vw) translateY(-3vh) scale(0.73);
  }
  88.8888888889% {
    transform: translateX(-14vw) translateY(26vh) scale(0.5);
  }
  100% {
    transform: translateX(11vw) translateY(-35vh) scale(0.58);
  }
}
.firefly:nth-child(23) {
  animation-name: move23;
}
.firefly:nth-child(23)::before {
  animation-duration: 304s;
}
.firefly:nth-child(23)::after {
  animation-duration: 304s, 7911ms;
  animation-delay: 0ms, 6450ms;
}

@keyframes move23 {
  0% {
    transform: translateX(-10vw) translateY(-13vh) scale(0.42);
  }
  9.0909090909% {
    transform: translateX(-39vw) translateY(-40vh) scale(0.97);
  }
  18.1818181818% {
    transform: translateX(22vw) translateY(-46vh) scale(0.97);
  }
  27.2727272727% {
    transform: translateX(-32vw) translateY(3vh) scale(0.59);
  }
  36.3636363636% {
    transform: translateX(33vw) translateY(8vh) scale(0.52);
  }
  45.4545454545% {
    transform: translateX(-7vw) translateY(46vh) scale(0.33);
  }
  54.5454545455% {
    transform: translateX(-19vw) translateY(4vh) scale(0.59);
  }
  63.6363636364% {
    transform: translateX(-6vw) translateY(-30vh) scale(0.85);
  }
  72.7272727273% {
    transform: translateX(17vw) translateY(6vh) scale(0.64);
  }
  81.8181818182% {
    transform: translateX(10vw) translateY(50vh) scale(0.28);
  }
  90.9090909091% {
    transform: translateX(18vw) translateY(11vh) scale(0.31);
  }
  100% {
    transform: translateX(-37vw) translateY(14vh) scale(0.33);
  }
}
.firefly:nth-child(24) {
  animation-name: move24;
}
.firefly:nth-child(24)::before {
  animation-duration: 307s;
}
.firefly:nth-child(24)::after {
  animation-duration: 307s, 7860ms;
  animation-delay: 0ms, 2543ms;
}

@keyframes move24 {
  0% {
    transform: translateX(-10vw) translateY(30vh) scale(0.72);
  }
  8.3333333333% {
    transform: translateX(-29vw) translateY(-22vh) scale(0.35);
  }
  16.6666666667% {
    transform: translateX(-22vw) translateY(15vh) scale(0.8);
  }
  25% {
    transform: translateX(28vw) translateY(43vh) scale(0.74);
  }
  33.3333333333% {
    transform: translateX(33vw) translateY(47vh) scale(0.45);
  }
  41.6666666667% {
    transform: translateX(9vw) translateY(-3vh) scale(0.27);
  }
  50% {
    transform: translateX(-18vw) translateY(15vh) scale(0.65);
  }
  58.3333333333% {
    transform: translateX(-31vw) translateY(-44vh) scale(0.89);
  }
  66.6666666667% {
    transform: translateX(6vw) translateY(13vh) scale(0.26);
  }
  75% {
    transform: translateX(-20vw) translateY(-3vh) scale(0.33);
  }
  83.3333333333% {
    transform: translateX(19vw) translateY(48vh) scale(0.4);
  }
  91.6666666667% {
    transform: translateX(-26vw) translateY(32vh) scale(0.71);
  }
  100% {
    transform: translateX(-25vw) translateY(15vh) scale(0.91);
  }
}
.firefly:nth-child(25) {
  animation-name: move25;
}
.firefly:nth-child(25)::before {
  animation-duration: 308s;
}
.firefly:nth-child(25)::after {
  animation-duration: 308s, 6500ms;
  animation-delay: 0ms, 7098ms;
}

@keyframes move25 {
  0% {
    transform: translateX(-24vw) translateY(3vh) scale(0.99);
  }
  11.1111111111% {
    transform: translateX(-40vw) translateY(-47vh) scale(0.83);
  }
  22.2222222222% {
    transform: translateX(13vw) translateY(38vh) scale(0.66);
  }
  33.3333333333% {
    transform: translateX(33vw) translateY(41vh) scale(0.37);
  }
  44.4444444444% {
    transform: translateX(-11vw) translateY(-21vh) scale(0.53);
  }
  55.5555555556% {
    transform: translateX(-15vw) translateY(-20vh) scale(0.85);
  }
  66.6666666667% {
    transform: translateX(5vw) translateY(-7vh) scale(0.57);
  }
  77.7777777778% {
    transform: translateX(-41vw) translateY(-31vh) scale(0.35);
  }
  88.8888888889% {
    transform: translateX(-27vw) translateY(-2vh) scale(0.39);
  }
  100% {
    transform: translateX(-10vw) translateY(-37vh) scale(0.63);
  }
}
.firefly:nth-child(26) {
  animation-name: move26;
}
.firefly:nth-child(26)::before {
  animation-duration: 304s;
}
.firefly:nth-child(26)::after {
  animation-duration: 304s, 6335ms;
  animation-delay: 0ms, 704ms;
}

@keyframes move26 {
  0% {
    transform: translateX(30vw) translateY(1vh) scale(0.99);
  }
  16.6666666667% {
    transform: translateX(-15vw) translateY(-47vh) scale(0.29);
  }
  33.3333333333% {
    transform: translateX(-34vw) translateY(24vh) scale(0.34);
  }
  50% {
    transform: translateX(-3vw) translateY(-26vh) scale(0.99);
  }
  66.6666666667% {
    transform: translateX(-41vw) translateY(-40vh) scale(0.76);
  }
  83.3333333333% {
    transform: translateX(28vw) translateY(-1vh) scale(0.65);
  }
  100% {
    transform: translateX(26vw) translateY(-10vh) scale(0.45);
  }
}
.firefly:nth-child(27) {
  animation-name: move27;
}
.firefly:nth-child(27)::before {
  animation-duration: 302s;
}
.firefly:nth-child(27)::after {
  animation-duration: 302s, 10186ms;
  animation-delay: 0ms, 4344ms;
}

@keyframes move27 {
  0% {
    transform: translateX(-4vw) translateY(-40vh) scale(0.34);
  }
  11.1111111111% {
    transform: translateX(-44vw) translateY(-39vh) scale(0.82);
  }
  22.2222222222% {
    transform: translateX(35vw) translateY(-14vh) scale(0.7);
  }
  33.3333333333% {
    transform: translateX(43vw) translateY(-19vh) scale(0.63);
  }
  44.4444444444% {
    transform: translateX(9vw) translateY(-35vh) scale(0.56);
  }
  55.5555555556% {
    transform: translateX(20vw) translateY(50vh) scale(0.28);
  }
  66.6666666667% {
    transform: translateX(10vw) translateY(-23vh) scale(0.54);
  }
  77.7777777778% {
    transform: translateX(-48vw) translateY(-2vh) scale(0.47);
  }
  88.8888888889% {
    transform: translateX(-36vw) translateY(48vh) scale(0.31);
  }
  100% {
    transform: translateX(40vw) translateY(45vh) scale(0.3);
  }
}
.firefly:nth-child(28) {
  animation-name: move28;
}
.firefly:nth-child(28)::before {
  animation-duration: 306s;
}
.firefly:nth-child(28)::after {
  animation-duration: 306s, 9733ms;
  animation-delay: 0ms, 8104ms;
}

@keyframes move28 {
  0% {
    transform: translateX(-17vw) translateY(-29vh) scale(0.31);
  }
  12.5% {
    transform: translateX(-34vw) translateY(17vh) scale(0.62);
  }
  25% {
    transform: translateX(4vw) translateY(19vh) scale(0.79);
  }
  37.5% {
    transform: translateX(0vw) translateY(-38vh) scale(0.62);
  }
  50% {
    transform: translateX(-14vw) translateY(22vh) scale(0.58);
  }
  62.5% {
    transform: translateX(-2vw) translateY(0vh) scale(0.87);
  }
  75% {
    transform: translateX(-9vw) translateY(43vh) scale(0.96);
  }
  87.5% {
    transform: translateX(39vw) translateY(1vh) scale(0.36);
  }
  100% {
    transform: translateX(32vw) translateY(-45vh) scale(0.34);
  }
}
.firefly:nth-child(29) {
  animation-name: move29;
}
.firefly:nth-child(29)::before {
  animation-duration: 307s;
}
.firefly:nth-child(29)::after {
  animation-duration: 307s, 5885ms;
  animation-delay: 0ms, 6126ms;
}

@keyframes move29 {
  0% {
    transform: translateX(14vw) translateY(8vh) scale(0.44);
  }
  12.5% {
    transform: translateX(-22vw) translateY(19vh) scale(0.7);
  }
  25% {
    transform: translateX(-38vw) translateY(-2vh) scale(0.96);
  }
  37.5% {
    transform: translateX(16vw) translateY(48vh) scale(0.92);
  }
  50% {
    transform: translateX(8vw) translateY(18vh) scale(0.41);
  }
  62.5% {
    transform: translateX(-44vw) translateY(45vh) scale(0.52);
  }
  75% {
    transform: translateX(20vw) translateY(4vh) scale(0.54);
  }
  87.5% {
    transform: translateX(27vw) translateY(48vh) scale(0.96);
  }
  100% {
    transform: translateX(25vw) translateY(-9vh) scale(0.29);
  }
}
.firefly:nth-child(30) {
  animation-name: move30;
}
.firefly:nth-child(30)::before {
  animation-duration: 306s;
}
.firefly:nth-child(30)::after {
  animation-duration: 306s, 6362ms;
  animation-delay: 0ms, 643ms;
}

@keyframes move30 {
  0% {
    transform: translateX(37vw) translateY(24vh) scale(0.68);
  }
  11.1111111111% {
    transform: translateX(14vw) translateY(-29vh) scale(0.5);
  }
  22.2222222222% {
    transform: translateX(47vw) translateY(43vh) scale(0.89);
  }
  33.3333333333% {
    transform: translateX(-44vw) translateY(-14vh) scale(0.8);
  }
  44.4444444444% {
    transform: translateX(-34vw) translateY(-21vh) scale(0.72);
  }
  55.5555555556% {
    transform: translateX(14vw) translateY(43vh) scale(0.97);
  }
  66.6666666667% {
    transform: translateX(43vw) translateY(44vh) scale(0.69);
  }
  77.7777777778% {
    transform: translateX(-30vw) translateY(-41vh) scale(0.91);
  }
  88.8888888889% {
    transform: translateX(-41vw) translateY(-34vh) scale(0.5);
  }
  100% {
    transform: translateX(-4vw) translateY(26vh) scale(0.85);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0.2;
    box-shadow: 0 0 2vw 0.4vw white;
  }
  5% {
    opacity: 0.5;
    box-shadow: 0 0 2vw 0.4vw white;
  }
}
