@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf");
  font-family: test;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.scene {
  height: 100%;
  background: #1d1f20;
  padding: 20rem;
  text-align: center;

  scroll-snap-align: end;
  scroll-snap-stop: always;
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-color: #1c1c1c;


}

.magic {
  z-index: 5;
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: url("https://res.cloudinary.com/dtxb76tmn/image/upload/v1733782474/Carto_bg_yqoleb.png") 50% 50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
}

.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;
}
